<a href="https://colab.research.google.com/github/KIHONG-KIM/study_log/blob/main/0516_%ED%8C%8C%EC%9D%B4%EC%8D%AC_for%EB%AC%B8_%EC%98%88%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
for i in range (10):
    print(i)
# range(start, stop, step)
# 1개만 쓸 경우, Default 값은 stop
# 2개를 쓸 경우 start, and stop (0,10)
# 3개를 쓸 경우 (0,10,2) 단계별로 진행된다.

0
1
2
3
4
5
6
7
8
9

In [65]:
for i in range (11,0,-2):
    print(i)

11
9
7
5
3
1

In [71]:
list = [1,2,3,4,5]
sum = 0
for i in list:
    sum += i
    print(f"i: {i}, sum:{sum}")

print(f"총합은 {sum}")

i: 1, sum:1
i: 2, sum:3
i: 3, sum:6
i: 4, sum:10
i: 5, sum:15
총합은 15

In [74]:
fruits = ['apple', 'banana', 'cherry', 'banana', 'apple']
target = 'banana'

for i in range(len(fruits)):
    print(i)
    if fruits[i] == target:
        print(f'{target} is at index {i}')

0
1
banana is at index 1
2
3
banana is at index 3
4

In [76]:
char = "안녕하세요, 세상"
# 문자열 출력
for i in char:
    print(i)

안
녕
하
세
요
,

세
상

In [79]:
# 함수 split()은 문자열을 특정한 문자로 잘라서 리스트로 만듭니다.
text = "Hello, world!"
words = text.split()
print(words) # 결과 ['Hello,', 'world!']

for word in words:
    print(word)
    # 쪼갠 단어들 활용 가능

Hello,
world!
['Hello,', 'world!']

In [84]:
text = "Hello, world!"
for i in range(len(text)):
    print(f"{i}번째 문자열은 {text[i]}을 나타냅니다.")

0번째 문자열은 H을 나타냅니다.
1번째 문자열은 e을 나타냅니다.
2번째 문자열은 l을 나타냅니다.
3번째 문자열은 l을 나타냅니다.
4번째 문자열은 o을 나타냅니다.
5번째 문자열은 ,을 나타냅니다.
6번째 문자열은  을 나타냅니다.
7번째 문자열은 w을 나타냅니다.
8번째 문자열은 o을 나타냅니다.
9번째 문자열은 r을 나타냅니다.
10번째 문자열은 l을 나타냅니다.
11번째 문자열은 d을 나타냅니다.
12번째 문자열은 !을 나타냅니다.

In [103]:
i = j = 1
while i < 10:
    while j < 10:
        print(f" {i}단, {i} * {j} = {i*j}")
        j += 1
    i = i + 1
    j = 1

 1단, 1 * 1 = 1
 1단, 1 * 2 = 2
 1단, 1 * 3 = 3
 1단, 1 * 4 = 4
 1단, 1 * 5 = 5
 1단, 1 * 6 = 6
 1단, 1 * 7 = 7
 1단, 1 * 8 = 8
 1단, 1 * 9 = 9
 2단, 2 * 1 = 2
 2단, 2 * 2 = 4
 2단, 2 * 3 = 6
 2단, 2 * 4 = 8
 2단, 2 * 5 = 10
 2단, 2 * 6 = 12
 2단, 2 * 7 = 14
 2단, 2 * 8 = 16
 2단, 2 * 9 = 18
 3단, 3 * 1 = 3
 3단, 3 * 2 = 6
 3단, 3 * 3 = 9
 3단, 3 * 4 = 12
 3단, 3 * 5 = 15
 3단, 3 * 6 = 18
 3단, 3 * 7 = 21
 3단, 3 * 8 = 24
 3단, 3 * 9 = 27
 4단, 4 * 1 = 4
 4단, 4 * 2 = 8
 4단, 4 * 3 = 12
 4단, 4 * 4 = 16
 4단, 4 * 5 = 20
 4단, 4 * 6 = 24
 4단, 4 * 7 = 28
 4단, 4 * 8 = 32
 4단, 4 * 9 = 36
 5단, 5 * 1 = 5
 5단, 5 * 2 = 10
 5단, 5 * 3 = 15
 5단, 5 * 4 = 20
 5단, 5 * 5 = 25
 5단, 5 * 6 = 30
 5단, 5 * 7 = 35
 5단, 5 * 8 = 40
 5단, 5 * 9 = 45
 6단, 6 * 1 = 6
 6단, 6 * 2 = 12
 6단, 6 * 3 = 18
 6단, 6 * 4 = 24
 6단, 6 * 5 = 30
 6단, 6 * 6 = 36
 6단, 6 * 7 = 42
 6단, 6 * 8 = 48
 6단, 6 * 9 = 54
 7단, 7 * 1 = 7
 7단, 7 * 2 = 14
 7단, 7 * 3 = 21
 7단, 7 * 4 = 28
 7단, 7 * 5 = 35
 7단, 7 * 6 = 42
 7단, 7 * 7 = 49
 7단, 7 * 8 = 56
 7단, 7 * 9 = 63
 8단, 8 * 1 = 8
 8단, 8 * 2 = 16
 8단, 8 * 3 = 24
 8단, 8 * 4 = 32
 8단, 8 * 5 = 40
 8단, 8 * 6 = 48
 8단, 8 * 7 = 56
 8단, 8 * 8 = 64
 8단, 8 * 9 = 72
 9단, 9 * 1 = 9
 9단, 9 * 2 = 18
 9단, 9 * 3 = 27
 9단, 9 * 4 = 36
 9단, 9 * 5 = 45
 9단, 9 * 6 = 54
 9단, 9 * 7 = 63
 9단, 9 * 8 = 72
 9단, 9 * 9 = 81